

/* @fonts-face */

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face{
    font-family: "Tenali";
    sec: '../fonts/TenaliRamakrishna-Regular.ttf'
}