@import url(./fonts.css);

/* Start Banner Area  */

.site-banner .site-title h3{
    font-weight: 500;
    font-size: 2rem;
    padding-top: 2rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-family: "Roboto" cursive;
    letter-spacing: 2px;
}

.site-banner .site-title h1{
    font-weight: 500;
    font-size: 3rem;
    font-family: "Roboto",normal;
    margin-left: 1.5rem;
    letter-spacing: 1px;
}

.site-banner .site-title h5{
    font-family: "Roboto",normal;
    margin-left: 1.5rem;
}

.site-banner .site-title .btn1{
    padding: 5 2 5 2;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #854fee;
    color: white;
    font-weight: 500;
    font-family: "Roboto",normal;
    margin-left: 1.5rem;
}

.site-banner .site-title .btn1:hover{
    background-color: white;
    color: black;
    border-color: #4458dc;
    font-weight: 500;

}

.site-banner .site-title .btn2{
    padding: 5 2 5 2;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #4458dc;
    color: black;
    font-weight: 500;
    margin-left: 7px;
    background-color: white;
    font-family: "Roboto",normal;
}

.site-banner .site-title .btn2:hover{
    background-color: #854fee;
    color: white;
    border-color: #4458dc;
    font-weight: 500;
}

.site-banner .banner-image .image-fluid{
    padding-top: 4rem;
    padding-right: 10px;
    width: 100%;
    height: 100%;
}

/* End Banner Area  */

/* Start Navbar */

.header_area .main-menu .navbar-nav a{
    font-family: "Roboto",normal;
}


.header_area .main-menu .navbar-nav a:hover{
    color: #854fee;
}

.header_area .main-menu .navbar-nav .main-page{
    color: #854fee;
}

.header_area .main-menu .navbar-nav .nav-item a{
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 500;
    font-size: 1.2rem;
}


/* End Navbar */

/* Start about area */


.about-area .about-image .img-fluid{
    width: 100%;
    height: 100%;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.about-area .about-title h2 > span{
    display: block;
    letter-spacing: 2px;
    font: normal 40px/60px "Roboto";
    margin-left: -15px;
}

.about-area .about-title h2{
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
}

.about-area .about-title p{
    padding: 0.2rem 1rem;
} 

.about-area .about-title .btn{
    /* padding: 5px 2px 5px 2px; */
    margin-top: 20px;
    border-radius: 5px;
    background-color: #854fee;
    color: white;
    font-weight: 500;
    font-family: "Roboto",normal;
    margin-left: 17px;
    margin-bottom: 50px;
}

.about-area .about-title .btn:hover{
    background-color: white;
    color: black;
    border-color: #4458dc;
    font-weight: 500;
}

.about-area .paragraph .para{
    font: normal 500 18px/ 25px "Roboto"
    color: #777777;  
}

/* End about area */