@import url(./fonts.css);

/* Start Banner Area  */

.site-banner .site-title h3{
    font-weight: 500;
    font-size: 2rem;
    padding-top: 3rem;
    margin-top: 3rem;
    margin-left: 3rem;
    font-family: "Roboto",normal;
}

.site-banner .site-title h1{
    font-weight: 500;
    font-size: 3rem;
    font-family: "Roboto",normal;
    margin-left: 3rem;
}

.site-banner .site-title h5{
    font-family: "Roboto",normal;
    margin-left: 3rem;
}

.site-banner .site-title .btn1{
    padding: 5 2 5 2;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #854fee;
    color: white;
    font-weight: 500;
    font-family: "Roboto",normal;
    margin-left: 3rem;
}

.site-banner .site-title .btn1:hover{
    background-color: white;
    color: black;
    border-color: #4458dc;
    font-weight: 500;

}

.site-banner .site-title .btn2{
    padding: 5 2 5 2;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #4458dc;
    color: black;
    font-weight: 500;
    margin-left: 7px;
    background-color: white;
    font-family: "Roboto",normal;
}

.site-banner .site-title .btn2:hover{
    background-color: #854fee;
    color: white;
    border-color: #4458dc;
    font-weight: 500;
}

.site-banner .banner-image{
    padding-top: 4rem;
    padding-right: 10px;
}

/* End Banner Area  */

/* Start Navbar */

.header_area .main-menu .navbar-nav a{
    font-family: "Roboto",normal;
}


.header_area .main-menu .navbar-nav a:hover{
    color: #854fee;
}

.header_area .main-menu .navbar-nav .main-page{
    color: #854fee;
}

.header_area .main-menu .navbar-nav .nav-item a{
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 500;
    font-size: 1.2rem;
}



/* End Navbar */